@model IEnumerable<ProjectSem03.Models.CombineModels>

@{
    ViewData["Title"] = "Exhibition";
    Layout = "~/Views/Shared/_Layout-noSlider.cshtml";
}

<section class="exhibition">
    <div class="wrapper-ex">
        <div class="ex-title"><span>Exhibition highlights</span><span>currently on display</span></div>
        @using (Html.BeginForm("Exhibition", "Home", FormMethod.Post, new { @class = "form-inline form-group", @style = "margin-left: 1.3rem" }))
        {
            @*@Html.DropDownList("ename", ViewBag.data as SelectList, "All", new { onchange = @"form.submit();" })*@
            <input style="height: 3.5rem; border-top-right-radius: 0; border-bottom-right-radius: 0; width: 30%; font-size: 1.2rem;" type="text" class="form-control" name="stuname" placeholder="Enter student name" />
            <button style="height: 3.5rem; border-top-left-radius: 0; border-bottom-left-radius: 0; padding: 0 1.5rem;" type="submit" class="btn btn btn-info"><i class="nav-icon fas fa-search" style="font-size: 1.4rem;"></i></button>
            @*<input type="text" name="stuname" value="" onchange="form.submit();" />*@
        }
        @foreach (var item in ViewBag.Exhibition)
        {
            <div class="ex-content">

                <div class="conduct-time"><span>@item.ExhibitionName / @item.StartDate.ToShortDateString() - @item.EndDate.ToShortDateString() / @item.Place</span></div>
                <div class="ex-designs row">
                    @foreach (var itemA in Model)
                    {
                        <div class="designs-show col-lg-3">
                            @if (item.ExhibitionId == itemA.Exhibitions.ExhibitionId)
                            {

                                <div class="show-inner">
                                    <div class="show-image"><a href="#"><img src="../images/Medium/@itemA.Designs.Painting" alt="" /></a></div>
                                    <div class="show-info"><span>@itemA.Designs.SubmitDate.ToShortDateString()</span><span>@itemA.Designs.DesignName</span><span>@itemA.Students.FirstName @itemA.Students.LastName</span><a class="button-hover" href="../images/Medium/@itemA.Designs.Painting" download="@itemA.Designs.Painting"><span>Download</span></a></div>
                                </div>

                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</section>

@*<section class="exhibition">
    <div class="wrapper-ex">
        <div class="ex-title"><span>Exhibition highlights</span><span>currently on display</span></div>
        @foreach (var item in ViewBag.Exhibition)
        {
            <div class="ex-content">
                <div class="conduct-time"><span>@item.ExhibitionName / @item.StartDate - @item.EndDate / @item.Place</span></div>
                @foreach (var itemA in Model)
                {
                    @if (item.ExhibitionId == itemA.Exhibitions.ExhibitionId)
                    {
                        <div class="ex-designs row">
                            <div class="designs-show col-lg-3">
                                <div class="show-inner">
                                    <div class="show-image"><a href="#"><img src="../@itemA.Designs.Painting" alt="" /></a></div>
                                    <div class="show-info"><span>@itemA.Designs.SubmitDate</span><span>@itemA.Designs.DesignName</span><span>@itemA.Designs.StudentId</span><a class="button-hover" href="#"><span>View more</span></a></div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <br /><br />
        }
    </div>
</section>*@

