
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layout-noSlider.cshtml";
}
@model ProjectSem03.Models.CombineModels
<div class="files-uploaded">
    <div class="files-uploaded-title"><span>Files Uploaded</span></div>
    <div class="files-uploaded-content row">
        @if (Enumerable.Count(ViewBag.designList) > 0)
        {
            @foreach (var item in ViewBag.designList)
            {
            <div class="img-uploaded col-lg-6">
                <div class="img-wrapper row">
                    <div class="img-content col-lg-6"><img src="../images/Medium/@item.Designs.Painting" alt="@item.Designs.Painting" /></div>
                    <div class="img-text col-lg-6">
                        <div class="img-des">
                            <span>@item.Designs.SubmitDate</span><span>@item.Designs.DesignName</span><span>@item.Designs.Description</span><span>@item.Designs.Price</span><a class="button-hover" asp-action="Edit" asp-controller="StudentDesignPosting" asp-route-id="@item.Designs.DesignId"><span>Update</span></a>
                            <a class="button-hover" asp-action="Delete" asp-controller="StudentDesignPosting" asp-route-id="@item.Designs.DesignId" onclick="return confirm('Are you sure?')"><span>Delete</span></a>
                            <a class="button-hover" download="@item.Designs.Painting" href="../images/Medium/@item.Designs.Painting"><span>Download</span></a>
                        </div>
                    </div>
                </div>
            </div>
            }
        }
        else
        {
        <div>
            <span>You don't have any design</span>
        </div>
        }
    </div>
</div>
<div>@ViewBag.Msg</div>
@if (TempData["message"] != null)
{
    @Html.Raw(TempData["message"])
}
