@model IEnumerable<ProjectSem03.Models.Design>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Designs</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesignName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Painting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExhibitionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoldStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesignName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Painting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExhibitionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DesignId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
