@{
    ViewData["Title"] = "Competition";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

@model IEnumerable<ProjectSem03.Models.CombineModels>
@using Microsoft.AspNetCore.Http
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Bootstrap4.Core;
@{
    var pagedList = (IPagedList)ViewBag.page;
}


@using (Html.BeginForm("Index", "Competitions", FormMethod.Post, new { @class = "form-inline form-group" }))
{
    <input style="height: 2.5rem; border-top-right-radius: 0; border-bottom-right-radius: 0; width: 30%" type="text" class="form-control" name="cname" placeholder="Enter competition name" />
    <button style="height: 2.5rem; border-top-left-radius: 0; border-bottom-left-radius: 0" type="submit" class="btn btn btn-info"><i class="nav-icon fas fa-search"></i></button>
}

<div>
    <table class="table table-bordered table-valign-middle">
        <thead>
            <tr class="text-center">
                <th>Competition ID</th>
                <th>Competition Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Image</th>
                <th>Staff Name</th>
                <th>
                    @if (Context.Session.GetInt32("staffRole") == 2)
                    {
                        <a class="btn btn-sm btn-success" asp-action="Create" asp-controller="Competitions">
                            <i class="fas fa-plus"></i> Add New
                        </a>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.page)
            {
                <tr class="text-center">
                    <td>
                        @item.Competitions.CompetitionId
                    </td>
                    <td>
                        @item.Competitions.CompetitionName
                    </td>
                    <td>
                        @item.Competitions.StartDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Competitions.EndDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Competitions.Description
                    </td>
                    <td>
                        <img src="@item.Competitions.CompetitionImages" width="100" />
                    </td>
                    <td>
                        @item.Staffs.StaffName
                    </td>
                    <td style="width: 15%;">
                        @if (Context.Session.GetInt32("staffRole") == 2)
                        {
                            <a class="btn btn-primary btn-sm my-2" asp-action="Edit" asp-controller="Competitions" asp-route-id="@item.Competitions.CompetitionId"><i class="fas fa-folder"></i> Update</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Competitions" asp-route-id="@item.Competitions.CompetitionId" onclick="return confirm('Are you sure?')"><i class="fas fa-trash"></i> Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    @using (Html.BeginForm("Index", "Competitions", FormMethod.Post))
    {
        <p>@Html.PagedListPager(pagedList, page => Url.Action("Index", "Competitions", new { page, currentFilter = ViewBag.page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)</p>
    }
</div>

