@{
    ViewData["Title"] = "Exhibition";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

@model IEnumerable<ProjectSem03.Models.CombineModels>
@using Microsoft.AspNetCore.Http
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Bootstrap4.Core;
@{
    var pagedList = (IPagedList)ViewBag.page;
}

@using (Html.BeginForm("Index", "Exhibitions", FormMethod.Post, new { @class = "form-inline form-group" }))
{

    <input style="height: 2.5rem; border-top-right-radius: 0; border-bottom-right-radius: 0; width: 30%" type="text" class="form-control" name="ename" placeholder="Enter exhibition name" />
    <button style="height: 2.5rem; margin-right: 1rem; border-top-left-radius: 0; border-bottom-left-radius: 0" type="submit" class="btn btn btn-info"><i class="nav-icon fas fa-search"></i></button>
    <input style="height: 2.5rem; border-top-right-radius: 0; border-bottom-right-radius: 0; width: 30%" type="text" class="form-control" name="pname" placeholder="Enter place" />
    <button style="height: 2.5rem; border-top-left-radius: 0; border-bottom-left-radius: 0" type="submit" class="btn btn btn-info"><i class="nav-icon fas fa-search"></i></button>
}

<div class="table-responsive">
    <table class="table table-bordered table-valign-middle">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>Exhibition Name</th>
                <th>Place</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Staff Name</th>
                @if (Context.Session.GetInt32("staffRole") == 2)
                {
                    <th>
                        <a class="btn btn-sm btn-success" asp-action="Create" asp-controller="Exhibitions">
                            <i class="fas fa-plus"></i> Add New
                        </a>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.page)
            {
                <tr class="text-center">
                    <td>
                        @item.Exhibitions.ExhibitionId
                    </td>
                    <td>
                        @item.Exhibitions.ExhibitionName
                    </td>
                    <td>
                        @item.Exhibitions.Place
                    </td>
                    <td>
                        @item.Exhibitions.StartDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Exhibitions.EndDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Staffs.StaffName
                    </td>

                    <td style="width: 15%;">
                        <a class="btn btn-primary btn-sm my-2" asp-action="Edit" asp-controller="Exhibitions" asp-route-id="@item.Exhibitions.ExhibitionId"><i class="fas fa-folder"></i> Update</a>
                        @if (Context.Session.GetInt32("staffRole") == 2)
                        {
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Exhibitions" asp-route-id="@item.Exhibitions.ExhibitionId" onclick="return confirm('Are you sure?')"><i class="fas fa-trash"></i> Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    @using (Html.BeginForm("Index", "Exhibitions", FormMethod.Post))
    {
        <p>@Html.PagedListPager(pagedList, page => Url.Action("Index", "Exhibitions", new { page, currentFilter = ViewBag.page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)</p>
    }
</div>

