@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

@model IEnumerable<ProjectSem03.Models.CombineModels>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
}

<h2>List of Exhibitions</h2>
<br />
@using (Html.BeginForm("Index", "Exhibitions", FormMethod.Post))
{
    <div>
        <input type="text" name="ename" placeholder="Enter an exhibition" /> |
        <input type="text" name="pname" placeholder="Enter a place" />
    </div>
    <div><input type="submit" value="Search"></div>
}
<br />
<p>
    <a asp-action="Create">Create New Exhibition</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>ExhibitionName</th>
            <th>Place</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>StaffName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Context.Session.GetString("staffRole") == "1")
        {
            @foreach (var item in ViewBag.data)
            {
                <tr>
                    <td>@item.Exhibitions.ExhibitionId</td>
                    <td>@item.Exhibitions.ExhibitionName</td>
                    <td>@item.Exhibitions.Place</td>
                    <td>@item.Exhibitions.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.Exhibitions.EndDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.Staffs.StaffName</td>
                    <td>
                        @Html.ActionLink("Update", "Edit", new { id = item.Exhibitions.ExhibitionId })
                    </td>
                </tr>
            }
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Exhibitions.ExhibitionId</td>
                    <td>@item.Exhibitions.ExhibitionName</td>
                    <td>@item.Exhibitions.Place</td>
                    <td>@item.Exhibitions.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.Exhibitions.EndDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.Staffs.StaffName</td>
                    <td>
                        @Html.ActionLink("Update", "Edit", new { id = item.Exhibitions.ExhibitionId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Exhibitions.ExhibitionId }, new { onClick = "return confirm('Are you sure?')" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<p>
    @Html.ActionLink("Back to Staff Functions", "Index", "Staffs")
</p>

