@model ProjectSem03.Models.Staff

@{
    ViewData["Title"] = "Edit Staff";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 mx-auto row">
            <div class="card col-lg-5 col-sm-12 mx-auto">
                <div class="card-header text-center">
                    <h3 class="card-title float-none">
                        Edit Staff
                    </h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Edit", "Staffs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div>
                            @Html.HiddenFor(model => model.StaffId)
                        </div>

                        <div>
                            @Html.HiddenFor(model => model.StaffName)
                        </div>

                        <div>
                            @Html.HiddenFor(model => model.Password)
                        </div>

                        <div>
                            @Html.HiddenFor(model => model.JoinDate)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProfileImage, "Profile Image")
                            <span class="text text-danger">*</span>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file" id="customFile" name="file">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="text-center">
                                <img src="@Html.DisplayFor(s=>s.ProfileImage)" alt="" />
                            </div>
                            @ViewBag.PImages
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email)
                            <span class="text text-danger">*</span>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email)
                            @ViewBag.Email
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone)
                            <span class="text text-danger">*</span>
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone)
                            @ViewBag.Phone
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address)
                            <span class="text text-danger">*</span>
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>

                        <div>
                            @Html.HiddenFor(model => model.Role)
                        </div>
                        <br />
                        <div class="form-group text-center">
                            <input class="btn btn-primary" type="submit" value="Update" onclick="return confirm('Are you sure?')" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h3>@ViewBag.Msg</h3>
</div>

<div>
    @Html.ActionLink("Back to list ", "Index", "Staffs")
</div>
