@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

@model IEnumerable<ProjectSem03.Models.Staff>
@using Microsoft.AspNetCore.Http
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    var pagedList = (IPagedList)ViewBag.page;
}

@using (Html.BeginForm("Index", "Staffs", FormMethod.Post, new { @class = "form-inline form-group" }))
{
    <input style="height: 2.5rem; border-top-right-radius: 0; border-bottom-right-radius: 0; width: 30%" type="text" class="form-control" name="sname" placeholder="Enter staff name" />
    <button style="height: 2.5rem; border-top-left-radius: 0; border-bottom-left-radius: 0" type="submit" class="btn btn btn-info"><i class="nav-icon fas fa-search"></i></button>

    @Html.PagedListPager(pagedList, page => Url.Action("Index", "Staffs", new { page }))
}

<table class="table table-bordered table-valign-middle">
    <tr class="text-center">
        <th>Staff Id</th>
        <th>Staff Name</th>
        <th>Join Date</th>
        <th>Profile Image</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Role</th>
        <th>
            <a class="btn btn-sm btn-success" asp-action="Create" asp-controller="Staffs">
                <i class="fas fa-plus"></i> Add New
            </a>
        </th>
    </tr>
    @foreach (var item in ViewBag.page)
    {
        <tr class="text-center">
            <td>@item.StaffId</td>
            <td>@item.StaffName</td>
            <td>@item.JoinDate.ToShortDateString()</td>
            <td>
                <img src="@item.ProfileImage" width="50" height="50" />
            </td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.Address</td>
            <td>
                @if (item.Role == 0)
                {
                    @item.Role.ToString("Admin");
                }
                else if (item.Role == 1)
                {
                    @item.Role.ToString("Manager");
                }
                else
                {
                    @item.Role.ToString("Staff");
                }
            </td>
            <td style="width: 15%">
                <a class="btn btn-primary btn-sm my-2" asp-action="Edit" asp-controller="Staffs" asp-route-id="@item.StaffId"><i class="fas fa-folder"></i> Update</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Staffs" asp-route-id="@item.StaffId" onclick="return confirm('Are you sure?')"><i class="fas fa-trash"></i> Delete</a>
            </td>
        </tr>
    }
</table>




