@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

@model IEnumerable<ProjectSem03.Models.CombineModels>
@using Microsoft.AspNetCore.Http
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Bootstrap4.Core;
@{
    var pagedList = (IPagedList)ViewBag.page;
}

@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("Index", "Awards", FormMethod.Post, new { @class = "form-inline form-group" }))
{
    <input style="height: 2.5rem; border-top-right-radius: 0; border-bottom-right-radius: 0; width: 30%" type="text" class="form-control" name="aname" placeholder="Enter award name" />
    <button style="height: 2.5rem; border-top-left-radius: 0; border-bottom-left-radius: 0" type="submit" class="btn btn btn-info"><i class="nav-icon fas fa-search"></i></button>
}

<div class="table-responsive">
    <table class="table table-bordered table-valign-middle">
        <thead>
            <tr class="text-center">
                <th>Award ID</th>
                <th>Award Name</th>
                <th>Competition Name</th>
                <th>Winning Post</th>
                <th>Staff Name</th>
                <th>
                    @if (Context.Session.GetInt32("staffRole") == 2)
                    {
                        <a class="btn btn-sm btn-success" asp-action="Create" asp-controller="Awards">
                            <i class="fas fa-plus"></i> Add New
                        </a>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.page)
            {
                <tr class="text-center">
                    <td>
                        @item.Awards.AwardId
                    </td>
                    <td>
                        @item.Awards.AwardName
                    </td>
                    <td>
                        @item.Competitions.CompetitionName
                    </td>
                    <td>
                        @if (item.Postings == null || String.IsNullOrEmpty(item.Postings.PostDescription))
                        {
                            <span></span>
                        }
                        else
                        {
                            @item.Postings.PostDescription
                        }
                    </td>
                    <td>
                        @item.Staffs.StaffName
                    </td>
                    <td style="width: 150px;">
                        @if (Context.Session.GetInt32("staffRole") == 2)
                        {
                            <a class="btn btn-primary btn-sm my-2" asp-action="Edit" asp-controller="Awards" asp-route-id="@item.Awards.AwardId"><i class="fas fa-folder"></i> Update</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Awards" asp-route-id="@item.Awards.AwardId" onclick="return confirm('Are you sure?')"><i class="fas fa-trash"></i> Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    @using (Html.BeginForm("Index", "Awards", FormMethod.Post))
    {
        <p>@Html.PagedListPager(pagedList, page => Url.Action("Index", "Awards", new { page, currentFilter=ViewBag.page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)</p>
    }
</div>
