@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}

@model IEnumerable<ProjectSem03.Models.CombineModels>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Awards</h2>

<p>
    <a asp-action="Create">Create New Award</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>AwardName</th>
            <th>CompetitionName</th>
            <th>Winning Post</th>
            <th>StaffName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Awards.AwardId</td>
                <td>@item.Awards.AwardName</td>
                <td>@item.Competitions.CompetitionName</td>
                <td>
                    @if (item.Postings == null || String.IsNullOrEmpty(item.Postings.PostDescription))
                    {
                        <span></span>
                    }
                    else
                    {
                        @item.Postings.PostDescription
                    }
                </td>
                <td>@item.Staffs.StaffName</td>
                <td>
                @Html.ActionLink("Update", "Edit", new { id = item.Awards.AwardId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Awards.AwardId }, new { onClick = "return confirm('Are you sure?')" }) |
            </td>
            </tr>
        }
    </tbody>
</table>
